/* Map and Marker Style */

.map-view {
  position: relative;
}

.marker-active,
.marker-normal {
  font-size: 1rem;
  height: 30px;
  border-radius: 8px;
  text-align: center;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.marker-active {
  background-color: #3b6665;
  color: white;
}

.marker-normal {
  background-color: #f1927e;
}

.marker-active::after,
.marker-normal::after {
  content: "";
  position: absolute;
  bottom: -9px;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-style: solid;
  z-index: 1;
}

.marker-active::after {
  border-color: #3b6665 transparent transparent transparent;
}

.marker-normal::after {
  border-color: #f1927e transparent transparent transparent;
}

/* Searching Style */
.tt-side-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  background-color: #f0f0f0;
  height: 120px;
  width: 100%;
  padding: 10px;
  margin: 0;

  z-index: 2;
}

.tt-side-panel__header {
  align-items: center;
  background-color: #f0f0f0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  width: 100%;
}

.tt-side-panel__sum {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.tt-search-box {
  background-color: #f0f0f0;
}
.tt-search-box-input-container {
  border: 1px solid black;
  border-radius: 50px;
}
.sum_total,
.sum_sort {
  flex-grow: 1;
}

.sum_sort {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

#sortOptions {
  display: none;
  position: absolute;
  font-size: 13px;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid grey;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 50;
}

#sortOptions li {
  padding: 8px;
  cursor: pointer;
}

#sortOptions li:hover {
  background-color: #f0f0f0;
}

#sortOption:hover #sortOptions {
  display: block;
}

.tt-tabs {
  /* visibility: hidden; */
  height: 50px;
}

.tt-side-panel__footer {
  visibility: hidden;
}

/* Map Controller Style */
.mapboxgl-ctrl-top-right {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
}

.custom-geolocate-button {
  margin-left: 10px;
  font-size: 1.2rem;

  background-color: #3b6665;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 15;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.save-search-button {
  background-color: #3b6665;
  color: #fff;
  border-radius: 30px;
  width: 100px;
  height: 40px;
}

.list-view-button {
  background-color: #3b6665;
  color: #fff;
  border-radius: 30px;
  width: 120px;
  height: 40px;
  margin-right: 35%;
}

.list-view-button i {
  font-size: 1.1rem;
}

.menu-div {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 40px;
  z-index: 10;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish", sans-serif;
}

/* Swiper Style */
