/* Map and Marker Style */

.map-view {
  position: relative;
}

.marker-active {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='30' viewBox='0 0 32 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 2.46094C10.84 2.46094 6.66666 6.31221 6.66666 11.074C6.66666 17.5338 16 27.0697 16 27.0697C16 27.0697 25.3333 17.5338 25.3333 11.074C25.3333 6.31221 21.16 2.46094 16 2.46094V2.46094ZM16 14.1501C14.16 14.1501 12.6667 12.772 12.6667 11.074C12.6667 9.37601 14.16 7.99792 16 7.99792C17.84 7.99792 19.3333 9.37601 19.3333 11.074C19.3333 12.772 17.84 14.1501 16 14.1501V14.1501Z' fill='%23C2D1D9'/%3E%3Cmask id='mask0_102_2981' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='6' y='2' width='20' height='26'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 2.46094C10.84 2.46094 6.66666 6.31221 6.66666 11.074C6.66666 17.5338 16 27.0697 16 27.0697C16 27.0697 25.3333 17.5338 25.3333 11.074C25.3333 6.31221 21.16 2.46094 16 2.46094V2.46094ZM16 14.1501C14.16 14.1501 12.6667 12.772 12.6667 11.074C12.6667 9.37601 14.16 7.99792 16 7.99792C17.84 7.99792 19.3333 9.37601 19.3333 11.074C19.3333 12.772 17.84 14.1501 16 14.1501V14.1501Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_102_2981)'%3E%3Crect width='32' height='29.5306' fill='%233074DA'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  width: 40px;
  height: 40px;
  /* background-color: red; */
}

.marker-normal {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='30' viewBox='0 0 32 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 2.46094C21.16 2.46094 25.3333 6.31221 25.3333 11.074C25.3333 17.5338 16 27.0697 16 27.0697C16 27.0697 6.66668 17.5338 6.66668 11.074C6.66668 6.31221 10.84 2.46094 16 2.46094ZM16 14.1501C17.84 14.1501 19.3333 12.772 19.3333 11.074C19.3333 9.37601 17.84 7.99792 16 7.99792C14.16 7.99792 12.6667 9.37601 12.6667 11.074C12.6667 12.772 14.16 14.1501 16 14.1501Z' fill='%23C2D1D9'/%3E%3Cmask id='mask0_102_2979' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='6' y='2' width='20' height='26'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 2.46094C21.16 2.46094 25.3333 6.31221 25.3333 11.074C25.3333 17.5338 16 27.0697 16 27.0697C16 27.0697 6.66668 17.5338 6.66668 11.074C6.66668 6.31221 10.84 2.46094 16 2.46094ZM16 14.1501C17.84 14.1501 19.3333 12.772 19.3333 11.074C19.3333 9.37601 17.84 7.99792 16 7.99792C14.16 7.99792 12.6667 9.37601 12.6667 11.074C12.6667 12.772 14.16 14.1501 16 14.1501Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_102_2979)'%3E%3Crect width='32' height='29.5306' transform='matrix(-1 0 0 1 32 0)' fill='%23424D5C'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  width: 40px;
  height: 40px;
}

/* Searching Style */

.tt-side-panel {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  display: flex;
  /* Additional styling, e.g., background color, height, padding, etc. */
  background-color: #ffffff;
  height: 80px;
  padding: 5px;
  margin: 5px;
  /* Add any other styling you desire */
  z-index: 2;
  /* Adjust the z-index as needed */
}

.tt-side-panel__header {
  align-items: center;
  background-color: #f0f0f0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  width: 100%;
}

.tt-search-box {
  background-color: #f0f0f0;
}

.tt-search-box-input-container {
  border: 1px solid black;
  border-radius: 50px;
}

.tt-tabs {
  /* visibility: hidden; */
  border: 1px solid red;
  height: 50px;
}

.tt-side-panel__footer {
  visibility: hidden;
}

h2.search-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-left: 30%;
}

/* Swiper Style */
